<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table class="table">
    <thead>
      <th>first name</th>
      <th>last name</th>
      <th>user name</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <%= render user %>
          <td>
            <%= link_to "Show this user", user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New user", new_user_path %>
